<div class="tab-pane" id="<%= name %>">
  <h3><%= chord_groups[:title] %></h3>
  <% chord_groups[:data].each do |chord_group| %>
      <hr>
      <h5><%= chord_group[:label] %></h5>
      <div class="row">
        <%= render partial: "chords", locals: { chords: chord_group[:chords] } %>
      </div>
  <% end %>
</div>
