<h3>Chords for <%= @note.display_name %>:</h3>
<hr>
<% @chords.each do |chord| %>
    <h4><%= chord[:label] %></h4>
    <% (chord[:frets]).each do |fret| %>
        <p><%= fret.inspect %></p>
    <% end %>
    <hr>
<% end %>
