<h3><%= @note.display_name %>:</h3>
<hr>
<% @note.chords.each do |chord| %>
    <h4><%= chord[:name] %></h4>
    <blockquote><%= chord[:notes].map{ |note| note.display_name }.join("  -  ") %></blockquote>
    <hr>
<% end %>
