// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.fretboard {
  width: 175px;
  margin: auto;
  text-align: center;
  padding-bottom: 50px;
}